  <div class="row text-center" id="welcome-img">
        <img src="/mac_and_cheese_bowl.jpg" class="img-circle">
  </div>


  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h1>Nothing says comfort like a hot and creamy mac and cheese dish. Add a more flavorful twist to your classic mac and cheese with these recipes that range from all kinds of cheesiness. <br> Simply browse through recipes posted by other mac and cheese lovers and we guarantee a perfect recipe to satisfy your comfort food craving. <br>
    No apples found here.<br>Strictly Mac & Cheese Megaflow. <br> <h1></div>
    <div class="col-xs-2"></div>
  </div>


