  <div class="row text-center" id="welcome-img">
        <img src="/mac_and_cheese_bowl.jpg" class="img-circle">
  </div>


  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h1>"A comfort food forum for your own comfort." - Ricky Thomas<br> <h1></div>
    <div class="col-xs-2"></div>
  </div>


  <%= render 'users/new' %>

  <%= render 'sessions/login' %>

