body {
  height:100%;
  width:100%;
  position:absolute;
  background-image: url("/apple-cheese.jpg")
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-ct {
  position: relative;
  background-image: url("/apple-cheese.jpg");
  background-size: 100% 100%;
  margin-top: -20px;
  height: 100%;
}

.container {
  background-color: white;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  overflow:scroll;
}

.navbar-right {
  margin-right: 0px;
}

#logo {
  font-family: 'Lobster Two', cursive;
  font-size:3em;
  color: white;
}

#welcome-img {
  margin-top:30px;
}

#login-nav {
  background-color: rgb(60,60,60);
  padding: 0 10%;
}

#button-nav {
  background-color: rgba(0,0,0,0);
  padding: 0 10%;
  border: 0 rgba(0,0,0,0);
}

.profile_pic img {
  height: 6em;
}

.btn {
  background-color: rgb(217, 199, 160);
  border:0 rgba(0,0,0,0);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn:hover {
  border:1px solid rgb(239, 210, 93);
  color:rgb(239, 197, 71);
}

.vote_container {
  top: 3em;
}

.answers_list {
  text-align:left;
}

#cheese_icons {
  margin: 0 auto;
  padding-left: 5px;
}

.vote_count {
  text-align: center;
  width: 45px;
  border: 1px solid black;
  padding: 1px;
  margin: 0 auto;
}

#users_list {
  margin: 5% 25%;
}

.pic_container {
  padding-top: 3%;
}

.info_container {
  text-align: left;
  font-size: 1.25em;
}

#user_profile {
  margin: 10% 20%;
}

#user_settings {
  float: right;
  text-align: right;
  padding: 55% 0 0 0;
}

#user-questions-list {
  font-size: 1.25em;
  margin-top: 10%;
}

#question_form {
  margin-top: 10%;
}

#signup_form {
  margin-top: 10%;
}

#login_form {
  margin-top: 10%;
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#signup {
  width: 404px;
  padding: 20px;
  display: none;
  background: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
  color: #000000;
}


#login {
  width: 404px;
  padding: 20px;
  display: none;
  background: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
  color: #000000;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}

input {
  display: inline-block;
  float: left;
  border: 1px solid #000;
  background-color: #F9EBA8;
}

input[type=submit] {
  float:right;
}

.txt-fld {
  padding-top: 10px;
}

.btn-fld {
  float: right;
  clear: both;
}

.modal_close {
position: absolute;
top: 12px;
right: 12px;
display: block;
width: 14px;
height: 14px;
background: url(http://leanmodal.finelysliced.com.au/img/modal_close.png);
z-index: 2;
}

#go_signup {
  padding: 4px;
}
